.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-score-time {
    font-size: 12px !important;
    font-weight: 500;
    color: black;
}

.comment-trashcan {
    cursor: pointer;
}

.comment-list {
    border-left: #eaecee;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    border-style: solid;
}

.comments-hidden {
    border: none;
}

.commentlist {
    padding-left: 10px !important;
    margin-left: 20px !important;
}
