ul {
    list-style-type: none;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-score-time {
    font-size: 12px !important;
    font-weight: 500;
    color: black;
}

.comment-trashcan {
    cursor: pointer;
}

.comment-list {
    padding-left: 10px !important;
}